#about{
    width: 100%;
    background-image: url("../images/limpezadeestofadoalmofadaamarela.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    margin-top: -40px;
}
#about p{
    text-align: center;
    width: 100%;
    height: 80px;
    line-height: 60px;
    color: #fff;
    background-color: #000000bd;
    padding: 15px;
}

@media only screen and (max-width: 968px){
    #about {
        height: 100vh;
    }
    #about p{
        height: 20vh;
    }
}