.icons{
    width: 100%;  
    display: flex;
    background-image: linear-gradient(-65deg, #59b4d8, #3496bd, #2c7694, #226681);
    color: #fff;
    border-radius: 20px 0px 20px 0px;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;  
    margin-bottom: 20px;
}
.icons img{
    width: 158px;
    height: 158px;
    filter: invert(100%);
}
.icons div > h2{
    text-align: center;
}
.icons div > h2:hover{
    color: #d0e5f5;
    transition: .2s;
    cursor: pointer;
}

@media screen and (max-width: 1220px) {
    .icons{
        flex-direction: column;
        justify-content: space-between;
        padding: 25px;
        border-radius: 8px;
        height: 1400px;
    }
    .icons img{
        width: 256px;
        height: 256px;
    }

}